<!--
  Generated template for the MisreservasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="prevenir">
    <ion-title>Mis reservas</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-slides>
    <ion-slide *ngFor="let img of banners">
      <div class="box blue">
        <img [src]="img.Ruta" alt="Imagen">
      </div>
    </ion-slide>
  </ion-slides>
  <div class="spacer" style="height: 20px;"></div>
  <div><h2 class="prevenir-title" text-center>Historial de reservas de citas</h2></div>
  <div class="spacer" style="height: 15px;"></div>
  <ion-list>
   <ion-option *ngFor="let dir of miListaReservas">
    <ion-card>
     <ion-card-content >
       <ion-item>
         <ion-label>
           <ion-icon name="alarm"></ion-icon>
         </ion-label>
         <ion-input type="text" [(ngModel)]="dir.hora" [ngModelOptions]="{standalone: true}" >
         </ion-input>
       </ion-item>
       <ion-item>
         <ion-label>
           <ion-icon name="calendar"></ion-icon>
         </ion-label>
         <ion-input type="text" [(ngModel)]="dir.fecha_reserva" [ngModelOptions]="{standalone: true}" >
         </ion-input>
       </ion-item>
       <ion-item>
         <ion-label>
           <ion-icon name="person"></ion-icon>
         </ion-label>
         <ion-input type="text" [(ngModel)]="dir.empresa" [ngModelOptions]="{standalone: true}" >
         </ion-input>
       </ion-item>
       <ion-item>
         <ion-label>
           <ion-icon name="call"></ion-icon>
         </ion-label>
         <ion-input type="text" [(ngModel)]="dir.telefono" [ngModelOptions]="{standalone: true}" >
         </ion-input>
       </ion-item>
       <ion-item>
         <ion-label>
           <ion-icon name="list"></ion-icon>
         </ion-label>
         <ion-input type="text" [(ngModel)]="dir.ntipopago" [ngModelOptions]="{standalone: true}" >
         </ion-input>
       </ion-item>
       <ion-item>
         <ion-label>
           <ion-icon name="list"></ion-icon>
         </ion-label>
         <ion-input type="text" [(ngModel)]="dir.estado_pago" [ngModelOptions]="{standalone: true}" >
         </ion-input>
       </ion-item>
        <div class="spacer" style="height: 20px;"></div>
       <button ion-button round full  color="danger"  (click)="Eliminar(dir.id)">
         <ion-icon name="archive"></ion-icon>
         &nbsp;&nbsp;Eliminar reserva
       </button>
     </ion-card-content >
    </ion-card>
   </ion-option>
</ion-list>
</ion-content>
