<ion-header>
  <ion-navbar color="prevenir">
    <ion-title>Perfil</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-item text-center>
    <img [src]="user.Avatar" class="divImagen"> 
    <ion-fab >
      <button ion-fab mini (click)="CambiarAvatar()">
        <ion-icon name="cloud-upload"></ion-icon>
      </button>
    </ion-fab>
  </ion-item>
  
  <button ion-button round full  type="submit" class="button button-light button-full button-main" (click)="GuardarAvatar()">
    <ion-icon name="archive"></ion-icon>
    &nbsp;&nbsp;Guardar Avatar
  </button>
  
  <h1 class="prevenir-title" text-center>Por favor completa tu perfil de usuario</h1>
  <form>
    <ion-list>
    <ion-item>
    <ion-label>
          <ion-icon name="jet"></ion-icon>
        </ion-label>
       <ion-select [(ngModel)]="paisSeleccionado" [ngModelOptions]="{standalone: true}" (ngModelChange)="CambiarPais()">
        <ion-option disabled value selected >Selecciona una</ion-option>
        <ion-option *ngFor="let p of paises" value="{{ p.Id }}">{{ p.Nombre }}</ion-option>
      </ion-select>
    </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon name="mail"></ion-icon>
        </ion-label>
        <ion-input type="email" placeholder="Ingrese su correo" [(ngModel)]="user.Correo" [ngModelOptions]="{standalone: true}">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon name="person"></ion-icon>
        </ion-label>
        <ion-input type="text" placeholder="Ingrese su nombre" [(ngModel)]="user.Nombre" [ngModelOptions]="{standalone: true}">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon name="card"></ion-icon>
        </ion-label>
        <ion-input id="id" type="number" placeholder="Ingrese su identificación" [(ngModel)]="user.Identificacion" [ngModelOptions]="{standalone: true}">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon name="locate"></ion-icon>
        </ion-label> 
        <ion-input id="id" type="text" placeholder="Ingrese su dirección" [(ngModel)]="user.Direccion" [ngModelOptions]="{standalone: true}">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon name="call"></ion-icon>
        </ion-label>
        <ion-input  type="number"  placeholder="Ingrese su teléfono" [(ngModel)]="user.Telefono" [ngModelOptions]="{standalone: true}">
      </ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon name="logo-whatsapp"></ion-icon>
        </ion-label>
        <ion-input id="telwhats" type="number" step="0" placeholder="Ingrese su WhatsApp" [(ngModel)]="user.TelefonoWhatsApp" [ngModelOptions]="{standalone: true}">
        </ion-input>
      </ion-item>
      <ion-item *ngIf="user.Proveedor==true">
        <ion-label>
          <ion-icon name="videocam"></ion-icon>
        </ion-label>
        <ion-input id="url" type="text"  placeholder="Pegue el link de Youtube aqui" [(ngModel)]="user.UrlIntroduccion" [ngModelOptions]="{standalone: true}">
        </ion-input>
      </ion-item>
      <ion-item *ngIf="user.Proveedor==true">
        <ion-textarea rows="5" placeholder="Ingrese su descripción" [(ngModel)]="user.Descripcion" [ngModelOptions]="{standalone: true}"></ion-textarea>
      </ion-item>


      <ion-item *ngIf="user.Proveedor==true">
        <ion-label>
          <ion-icon name="person"></ion-icon>
        </ion-label>
        <ion-input id="text" type="text"  placeholder="Ingrese el nombre de su Empresa" [(ngModel)]="user.NombreEmpresa" [ngModelOptions]="{standalone: true}">
        </ion-input>
      </ion-item>
      <ion-item *ngIf="user.Proveedor==true">
        <ion-label>
          <ion-icon name="person"></ion-icon>
        </ion-label>
        <ion-input  type="text"  placeholder="Ingrese el NIT de su Empresa" [(ngModel)]="user.Nit" [ngModelOptions]="{standalone: true}">
        </ion-input>
      </ion-item>
      <ion-item *ngIf="user.Proveedor==true">
        <ion-label>
          <ion-icon name="person"></ion-icon>
        </ion-label>
        <ion-input  type="text"  placeholder="Ingrese la página Web" [(ngModel)]="user.UrlPagina" [ngModelOptions]="{standalone: true}">
        </ion-input>
      </ion-item>
      
        <button class="buttonprofile" type="submit" ion-button round full color="danger" (click)="Guardar()" >
          <ion-icon name="archive"></ion-icon>&nbsp;Guardar
        </button> 
      
      
        <button class="buttonprofilesec" ion-button round full color="energized" (click)="cancelar()" >
          <ion-icon name="arrow-back"></ion-icon>&nbsp;Cancelar
        </button> 
      
    </ion-list>
  </form>
</ion-content>
