<!--
  Generated template for the CitasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="prevenir">
    <ion-title>Agenda citas</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-slides>
    <ion-slide *ngFor="let img of banners">
      <div class="box blue">
        <img [src]="img.Ruta" alt="Imagen">
      </div>
    </ion-slide>
  </ion-slides>

      <div class="spacer" style="height: 20px;"></div>
     <div><h2 class="prevenir-title" text-center>Datos básicos del proveedor</h2></div>
     <div class="spacer" style="height: 15px;"></div>
   <ion-item>
     <ion-label>
       <ion-icon name="person"></ion-icon>
     </ion-label>
     <ion-input type="text" placeholder="Nombre empresa" [(ngModel)]="publicacion.Usuario.NombreEmpresa" [ngModelOptions]="{standalone: true}" readonly>
     </ion-input>
   </ion-item>
   <ion-item>
     <ion-label>
       <ion-icon name="call"></ion-icon>
     </ion-label>
       <ion-input type="text" placeholder="Telefono" [(ngModel)]="publicacion.Usuario.Telefono" [ngModelOptions]="{standalone: true}" readonly>
       </ion-input>
   </ion-item>
   <ion-item>
     <ion-label>
       <ion-icon name="locate"></ion-icon>
     </ion-label>
      <ion-input type="text" placeholder="Direccion" [(ngModel)]="publicacion.Usuario.Direccion" [ngModelOptions]="{standalone: true}" readonly>
      </ion-input>
   </ion-item>
   <ion-item>
     <ion-label>
       <ion-icon name="mail"></ion-icon>
     </ion-label>
      <ion-input type="email" placeholder="Correo" [(ngModel)]="publicacion.Usuario.Correo" [ngModelOptions]="{standalone: true}" readonly>
      </ion-input>
    </ion-item>
     <div class="spacer" style="height: 25px;"></div>
     <div><h2 class="prevenir-title" text-center>Datos para la reserva</h2></div>
     <div class="spacer" style="height: 15px;"></div>
     <ion-item>
         <ion-label>Seleccione una fecha</ion-label>
        <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="fechaPedido" [ngModelOptions]="{standalone: true}"></ion-datetime>
     </ion-item>
     <ion-item>
         <ion-label>Seleccione un servicio</ion-label>
         <ion-select [(ngModel)]="servicio" [ngModelOptions]="{standalone: true}">
           <ion-option disabled value selected >Selecciona una</ion-option>
           <ion-option *ngFor="let cat of listaServicios" value="{{ cat.id }}">{{ cat.nombre }}</ion-option>
         </ion-select>
     </ion-item>
     <div class="spacer" style="height: 15px;"></div>
     <button ion-button round full color="secondary" type="submit"  (click)="BuscarCitas()">
       <ion-icon name="search"></ion-icon>
       &nbsp;&nbsp;Buscar citas disponibles
     </button>
     <div class="spacer" style="height: 10px;"></div>
     <button ion-button round full color="danger" type="submit"  (click)="ConsultarReservas()">
       <ion-icon name="search"></ion-icon>
       &nbsp;&nbsp;Ver mi agenda de citas
     </button>
</ion-content>
