<ion-content class="contenido">
<ion-item>

<h1 class="prevenir-title" text-center>Selecciona el tipo de recorte</h1>
</ion-item>

<img src="assets/img/cuadro.jpg" class="img" (click)="clickFigura(1)"/>
<img src="assets/img/horizontal.jpg" class="img" (click)="clickFigura(2)"/>
<img src="assets/img/vertical.jpg" class="img" (click)="clickFigura(3)"/>

</ion-content>
