<ion-header>

  <ion-navbar color="prevenir">
    <ion-title>Grupo Prevenir Express</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="RefrescarInformacion($event)">
    <ion-refresher-content
    pulling-text="Arrastra para actualizar...">  
  </ion-refresher-content>
</ion-refresher>


<h1 text-center class="prevenir-title">Resultados de la búsqueda</h1>
<h5 text-center class="prevenir-title">Ofertas encontradas {{ resultados | number:0 }}</h5>

<ion-list>
  <ion-card *ngFor="let pubs of publicaciones">
    <a  (click)="cargarPublicacion({Id: pubs.Id})">
    <ion-slides>
      <ion-slide *ngFor="let img of pubs.Imagens">
        <div class="box blue">
          <img [src]="img.RutaGrande" alt="">
        </div>          
      </ion-slide>
    </ion-slides>
    <ion-card-content>
      <!--<div>-->
      <h2>{{ pubs.Nombre }}</h2>
      <h3  *ngIf="pubs.PorcentajePromo!=0"><ion-icon name="thumbs-up"></ion-icon>Descuento <small>&nbsp;{{ pubs.PorcentajePromo }}&nbsp;%</small></h3>
      <h3 *ngIf="pubs.PorcentajePromo==0"><ion-icon name="thumbs-down"></ion-icon>Particulares <small>&nbsp;{{ pubs.Precio | number:0 }}&nbsp;</small></h3>
      <h3  *ngIf="pubs.PorcentajePromo==0"><ion-icon name="thumbs-up"></ion-icon>Prevenir Express {{ pubs.PrecioDesc | number:0 }}</h3>
      <p >{{ pubs.DescripcionCorta }}</p><br>
      <!-- </div>-->
    </ion-card-content>
  </a>
  </ion-card>
</ion-list>
<ion-infinite-scroll (ionInfinite)="cargarSiguientePagina($event)" *ngIf="moredata">
 <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>