<ion-header>

  <ion-navbar color="prevenir">
    <ion-title>{{ publicacion.Nombre }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list>
    <ion-card>
      <ion-item>
        <ion-avatar item-start>
          <img src="{{ publicacion.Usuario.Avatar }}" (click)="MostrarHistorial()">
        </ion-avatar>
        <div *ngIf="publicacion.Usuario.Proveedor==true"><h2>{{ publicacion.Usuario.NombreEmpresa }}</h2></div>
        <div *ngIf="publicacion.Usuario.Proveedor==false"><h2>{{ publicacion.Usuario.Nombre }}</h2></div>
        <div *ngIf="publicacion.Usuario.Proveedor==true"><h2>NIT {{ publicacion.Usuario.Nit }}</h2></div>
        <small>{{ publicacion.Usuario.Descripcion }}</small>

      </ion-item>
      <button ion-button round full color="danger" (click)="IrAPublicacionesDelUsuario({Id: Id})">
        Mas publicaciones
      </button>
    </ion-card>

    <ion-card>
      <ion-slides>
        <ion-slide *ngFor="let img of publicacion.Imagens">
          <div class="box blue">
          <img [src]="img.RutaGrande" alt="Imagen">
          </div>
        </ion-slide>
      </ion-slides>

      <ion-card-content>

        <h2>{{ publicacion.Nombre }}</h2>
        <h2  *ngIf="publicacion.PorcentajePromo!=0"><ion-icon name="thumbs-up"></ion-icon>Descuento <small>&nbsp;{{ publicacion.PorcentajePromo }}&nbsp;%</small></h2>
        <h2  *ngIf="publicacion.PorcentajePromo==0"><ion-icon name="thumbs-down"></ion-icon>Particulares <small>&nbsp;{{ publicacion.Precio | number:0 }}&nbsp;</small></h2>
        <h2  *ngIf="publicacion.PorcentajePromo==0"><ion-icon name="thumbs-up"></ion-icon>Prevenir Express {{ publicacion.PrecioDesc | number:0 }}</h2>
        <br><p>{{ publicacion.DescripcionCorta }}</p><br>
        <p>{{ publicacion.DescripcionLarga }}</p>
       </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-icon name="videocam"></ion-icon>
        Conocenos mejor
      </ion-card-header>
      <ion-card-content>
        <div class="embed-container">
        <iframe width="560" height="315" [src]="videito | safe" frameborder="0" rel="0"></iframe>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-icon name="mail"></ion-icon>
        Ponte en contacto
      </ion-card-header>
      <ion-item>
      <ion-avatar item-start>
          <img src="{{ publicacion.Usuario.Avatar }}" (click)="MostrarHistorial()">
      </ion-avatar>
          <h2>{{ publicacion.Usuario.Nombre }}</h2>
           <p>{{ publicacion.Usuario.Descripcion }}</p>
        </ion-item>
      <ion-card-content>
        <ion-item>
          <ion-input type="text" placeholder="Nombre" [(ngModel)]="usr.Nombre" [ngModelOptions]="{standalone: true}" readonly>
          </ion-input>
       </ion-item>
        <ion-item>
           <ion-input type="email" placeholder="Correo" [(ngModel)]="usr.Correo" [ngModelOptions]="{standalone: true}" readonly>
          </ion-input>
       </ion-item>
       <ion-item>
        <ion-textarea rows="5" placeholder="Mensaje" [(ngModel)]="mensaje" [ngModelOptions]="{standalone: true}"></ion-textarea>
      </ion-item>
       <button ion-button round full color="danger" (click)="EnviarMensaje()"
        [disabled]="mensaje.length < 8">
        Enviar mensaje
        </button>
         <button ion-button round full  type="submit"  (click)="AgendarCita()">
           <ion-icon name="archive"></ion-icon>
           &nbsp;&nbsp;Agendar cita
         </button>
      </ion-card-content>
    </ion-card>
</ion-list>
</ion-content>
