<!--
Generated template for the Home page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="prevenir">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Grupo Prevenir Express</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-slides>
    <ion-slide *ngFor="let img of banners">
      <div class="box blue">
        <img [src]="img.Ruta" alt="Imagen">
      </div>
    </ion-slide>
  </ion-slides>
  <!-- <ion-slides initialSlide="1" autoplay="4000" loop>
    <ion-slide>
      <div class="box blue">
        <img src="http://www.prevenirexpress.com/assets/images/1920/atardecer.jpg">
      </div>
    </ion-slide>
    <ion-slide>
      <div class="box yellow">
        <img src="http://www.prevenirexpress.com/assets/images/1920/flor.jpg">
      </div>
    </ion-slide>
    <ion-slide>
      <div class="box pink">
        <img src="http://www.prevenirexpress.com/assets/images/1920/respirar.jpg">
      </div>
    </ion-slide>
  </ion-slides> -->
  <div padding>
    <button ion-button round full color="danger" (click)="IrACitas()">
      <ion-icon name="search"></ion-icon>&nbsp;Mis Citas
    </button>
    <h1 class="prevenir-title" text-center>Encuentra el servicio que estas buscando</h1>
    <form>
      <ion-list>
        <ion-item>
          <ion-label>Categoría</ion-label>
          <ion-select [(ngModel)]="subcategoria" [ngModelOptions]="{standalone: true}" (ngModelChange)="CargarVariedades()">
            <ion-option disabled value selected >Selecciona una</ion-option>
            <ion-option *ngFor="let cat of subcategorias" value="{{ cat.Id }}">{{ cat.Nombre }}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-input
            type="text"
            [(ngModel)]="descripcion"
            placeholder="¿Que estas buscando?"
            [ngModelOptions]="{standalone: true}"
          ></ion-input>
        </ion-item>
      </ion-list>
      <h1 class="prevenir-title" text-center>¿Donde quieres ser atendido?</h1>
      <ion-list>

        <ion-list>
        <ion-item>
          <ion-select [(ngModel)]="paisSeleccionado" [ngModelOptions]="{standalone: true}" (ngModelChange)="CambiarPais()">
            <ion-option disabled value selected >Selecciona una</ion-option>
            <ion-option *ngFor="let p of paises" value="{{ p.Id }}">{{ p.Nombre }}</ion-option>
          </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Departamento</ion-label>
            <ion-select [(ngModel)]="departamentoId" [ngModelOptions]="{standalone: true}" (ngModelChange)="CargarMunicipios()">
              <ion-option disabled value selected >Selecciona una</ion-option>
              <ion-option  *ngFor="let dep of Departamentos" value="{{ dep.Id }}" >{{ dep.Nombre }}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Ciudad</ion-label>
            <ion-select [(ngModel)]="municipioId" [ngModelOptions]="{standalone: true}">
              <ion-option disabled value selected >Selecciona una</ion-option>
              <ion-option *ngFor="let mun of Municipios" value="{{ mun.Id }}">{{ mun.Nombre }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>

          <button ion-button round full color="danger" (click)="Buscar()">
            <ion-icon name="search"></ion-icon>&nbsp;Buscar proveedores
          </button>

      </ion-list>
    </form>
  </div>
</ion-content>
