<ion-content padding>
  <ion-slides initialSlide="1">
    <ion-slide>
      <form>


        <img src="assets/img/logo-grande-negro.png" class="logo-prevenir">
        <!--<div class="spacer" style="height: 20px;"></div>-->
        <h1 class="prevenir-title">Inicia sesión con tu cuenta</h1>
        <!--<div class="spacer" style="height: 20px;"></div>-->

        <ion-list no-lines no-padding>
          <ion-item no-lines>
            <ion-label>
              <ion-icon name="mail"></ion-icon>
            </ion-label>
            <ion-input type="email" placeholder="Ingrese su correo" [(ngModel)]="usr.Correo" [ngModelOptions]="{standalone: true}">
            </ion-input>
          </ion-item>
          <ion-item no-lines>
            <ion-label>
              <ion-icon name="key"></ion-icon>
            </ion-label>
            <ion-input type="password" placeholder="Ingrese su clave" [(ngModel)]="usr.Clave" [ngModelOptions]="{standalone: true}">
            </ion-input>
          </ion-item>
        </ion-list>

        <div class="spacer" style="height: 20px;"></div>

        <!--<div class="form-container">-->
        <button ion-button round full type="submit"  (click)="Login()">
          <ion-icon name="checkmark"></ion-icon>&nbsp;Iniciar sesión
        </button>
        <button class="buttonprofilesec" ion-button round full color="energized" (click)="MostrarInicio()">
          <ion-icon name="arrow-dropright-circle"></ion-icon>&nbsp;Volver
        </button>

        <!--</div>-->
      </form>
    </ion-slide>
    <ion-slide>
      <form class="formslide">
        <!--<div class="spacer" style="height: 20px;"></div>-->
        <img src="assets/img/logo-grande-negro.png" class="logo-prevenir">
        <!--<div class="spacer" style="height: 10px;"></div>-->
        <h1 class="prevenir-title">Regístrese con nosotros</h1>
        <!--<div class="spacer" style="height: 10px;"></div>-->
        <ion-list no-lines>
          <ion-item class="imgbtn" (click)="MostrarRegistro(false)">
            <!--<div class="img_thumb">-->
            <!--<div class="img_desc">-->

            <!--</div>-->

            <img  src="assets/img/consumidor.png" class="img" />
            <h2  text-center class="prevenir-title">Eres Usuario</h2>


            <!--<div class="spacer" style="height: 20px;"></div>-->

            <!--</div>-->
          </ion-item>

          <ion-item  (click)="MostrarRegistro(true)">
            <img src="assets/img/proveedor.png" class="img"/>
            <h2 text-center class="prevenir-title" >Eres Proveedor</h2>

          </ion-item>
            <div class="spacer" style="height: 20px;"></div>

            <h3 text-center id="para" class="prevenir-title">¿Ya tienes cuenta? <a href="javascript:void(0);" (click)="MostrarInicioSesion()">Inicia sesión</a></h3>

        </ion-list>
      </form>
    </ion-slide>
    <ion-slide><form>
      <!--<div class="spacer" style="height: 20px;"></div>-->
      <img src="assets/img/logo-grande-negro.png" class="logo-prevenir">
      <!--<div class="spacer" style="height: 20px;"></div>-->
      <h1 class="prevenir-title">Regístrese con nosotros</h1>
      <!--<div class="spacer" style="height: 20px;"></div>-->
      <button ion-button round  color="facebook"  (click)="loginFB()">
          <ion-icon name="logo-facebook"></ion-icon>&nbsp;&nbsp;Entrar con Facebook
      </button>

      <!--<button ion-button round color="google" (click)="doGoogleLogin()">
        <ion-icon name="logo-google"></ion-icon>&nbsp;&nbsp;Entrar con Google
      </button>-->

      <div class="spacer" style="height: 20px;"></div>
      <ion-list no-lines>
      <ion-item>
        <ion-label>
              <ion-icon name="mail"></ion-icon>
       </ion-label>
          <ion-input type="email" placeholder="Ingrese su correo" [(ngModel)]="usr.Correo" [ngModelOptions]="{standalone: true}">
          </ion-input>
       </ion-item>
       <ion-item>
        <ion-label>
              <ion-icon name="person-add"></ion-icon>
       </ion-label>
          <ion-input type="text" placeholder="Ingrese su nombre" [(ngModel)]="usr.Nombre" [ngModelOptions]="{standalone: true}">
          </ion-input>
       </ion-item>
        <ion-item>
        <ion-label>
              <ion-icon name="key"></ion-icon>
       </ion-label>
       <ion-input type="password" placeholder="Ingrese su clave" [(ngModel)]="usr.Clave" [ngModelOptions]="{standalone: true}">
       </ion-input>
       </ion-item>
      </ion-list>

      <div class="spacer" style="height: 20px;"></div>

      <div class="form-container">
        <button ion-button round full type="submit" [color]="Blue"  (click)="SignUp()">
          <ion-icon name="checkmark"></ion-icon>&nbsp;Registrate
        </button>

        <!--<button class="button button-facebook button-full" ng-click="ctrl.Facebook()">Facebook</button>-->
        <button class="buttonprofilesec" ion-button round full color="energized"  (click)="MostrarInicio()">
          <ion-icon name="arrow-dropleft-circle"></ion-icon>&nbsp;Volver
        </button>

      </div>
    </form></ion-slide>
  </ion-slides>
</ion-content>
