<ion-header>

  <ion-navbar color="prevenir">
    <ion-title>Listado publicaciones</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  

<ion-refresher (ionRefresh)="RefrescarInformacion($event)">
    <ion-refresher-content
    pulling-text="Arrastra para actualizar...">  
  </ion-refresher-content>
</ion-refresher>
    


    <div class="spacer" style="height: 5px;"></div>
    <h1 class="prevenir-title" text-center>Más publicaciones del usuario</h1>
    <h5 class="prevenir-subtitle" text-center>{{usuario.NombreEmpresa }}</h5>
    <h5 class="prevenir-subtitle" text-center>{{usuario.Nit}}</h5>
    <h5 class="prevenir-subtitle" text-center>{{usuario.Nombre }}</h5>
    


    <ion-list>
      <ion-card *ngFor="let pub of publicaciones">
        <ion-item>   

          <h2 class="titulo">{{ pub.Nombre }}</h2>
          <h3 class="precio-desc"><ion-icon name="thumbsup"></ion-icon>Descuento <small>&nbsp;{{ pub.PorcentajePromo }}&nbsp;%</small></h3>
          <h3 class="precio"><ion-icon name="thumbsdown"></ion-icon>Particulares <small>&nbsp;{{ pub.Precio | number:0 }}&nbsp;</small></h3>
          <h3 class="precio-desc"><ion-icon name="thumbsup"></ion-icon>Prevenir Express {{ pub.PrecioDesc | number:0 }}</h3>
          <p class="descripcion-corta">{{ pub.DescripcionCorta }}</p><br>

          <button ion-button icon-only (click)="cargarPublicacion({Id: pub.Id})">
            <ion-icon name="eye"></ion-icon>
          </button>
        </ion-item>
      </ion-card>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="cargarSiguientePagina($event)" *ngIf="moredata">
       <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>

