.prevenir-title {
  color: color($colors, prevenir, base) !important;
  font-size: 1.8rem;

  h1 {
    color: inherit !important;
  }
}

.prevenir-subtitle{
  color: color($colors, prevenir, base);
  font-size: 1.3rem;
}
.titulo{
  color: color($colors, prevenir, base);
  font-size: 1.8rem;
}

.btnface{
  color: color($colors, facebook, base);
}

.btnfacea{
    background: #305c99;
    color:#FFFfff;
    position: relative;
    display: block;
    height: 40px;
    margin: 0 Auto;
    overflow: hidden;
    width: 50%;
    border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 3px;;
}

