<ion-header>
  <ion-navbar color="prevenir">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contactenos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="logo-prevenir" text-center margin-vertical>
    <img src="assets/img/logo-grande-negro.png">
  </div>
  <ion-card margin-top>
    <ion-card-header class="prevenir-title">
      <h1 text-center >CONTACTENOS</h1>
    </ion-card-header>

    <ion-card-content>
      <p margin-bottom>El objetivo de <strong>Grupo Prevenir Express SAS</strong>
        es proveer soluciones integrales que faciliten y agilicen la toma de decisiones importantes para nuestros suscriptores, 
        en la adquisición de productos o servicios de las diferentes entidades.
      </p>
      <ion-list>
        <ion-item no-padding>
          <ion-icon name="locate"></ion-icon>&nbsp;
          Centro Comercial Los Andes <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Local 214 - San Juan de Pasto
        </ion-item>
        <ion-item no-padding>
          <ion-icon name="phone-portrait"></ion-icon>&nbsp;
          Teléfono: <a href="call:+573104351937">+57 3104351937</a>
        </ion-item>
        <ion-item no-padding>
          <ion-icon name="mail"></ion-icon>&nbsp;
          Correo<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:clientes@prevenirexpress.co">clientes@prevenirexpress.com</a>      
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
