<ion-menu [content]="content">
<!--   <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-content>
    <ion-list>
      <ion-item class="menu-profile">
        <img [src]="user.Avatar" >
         <div class="content-profile">
         <h2>{{ user.Nombre }}</h2>
         <p>{{ user.Correo }}</p>
         </div>
      </ion-item>
      <div *ngFor="let p of pages">
        <button
          ion-item
          icon-left
          menuClose
          (click)="openPage(p)"
          *ngIf="p.proveedorRequired==false || (p.proveedorRequired && user.Proveedor)"
        >
          <ion-icon [name]="p.icon" class="menu-icon"></ion-icon>
          {{p.title}}
        </button> 
               
      </div>
       <button ion-item icon-left menuClose (click)="CerrarSesion()">
           <ion-icon name="power" class="menu-icon"></ion-icon>
            Cerrar sesión
        </button>  
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>