.menu-profile {
  img {
    max-width: 100%;
    border: 0;
    width: 60px;
    border-radius: 50%;
    float:left;
    margin-right:3%; 
  }
  
  .content-profile{
    padding:2%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  h2, p{
     float:left;
  }
}

.menu-icon {
  line-height: 1.4em !important;
}

