<ion-header>

  <ion-navbar color="prevenir">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Listado de publicaciones</ion-title>
  </ion-navbar>

</ion-header>

  <ion-content padding>
     <ion-refresher (ionRefresh)="RefrescarInformacion($event)">
    <ion-refresher-content
    pulling-text="Arrastra para actualizar...">  
  </ion-refresher-content>
  </ion-refresher>

    <div class="spacer" style="height: 5px;"></div>
    <h1 class="prevenir-title" text-center>Tus publicaciones</h1>
    <p text-center>Puedes crear todas las publicaciones que necesites</p>

    <ion-list>
      <button  ion-button round full color="balanced" (click)="CrearPublicacion()" >
        <ion-icon name="create"></ion-icon>&nbsp;&nbsp;Crear publicación
      </button>
      

      <ion-card *ngFor="let pub of publicaciones" no-margin margin-vertical style="width: 100%">
        <ion-card-content>
          <h2 class="titulo">{{ pub.Nombre }}</h2>
          <h3 class="precio-desc" *ngIf="pub.PorcentajePromo!=0"><ion-icon name="thumbsup"></ion-icon>Descuento <small>&nbsp;{{ pub.PorcentajePromo }}&nbsp;%</small></h3>
          <h3 class="precio" *ngIf="pub.PorcentajePromo==0"><ion-icon name="thumbsdown"></ion-icon>Particulares <small>&nbsp;{{ pub.Precio | number:0 }}&nbsp;</small></h3>
          <h3 class="precio-desc" *ngIf="pub.PorcentajePromo==0"><ion-icon name="thumbsup"></ion-icon>Prevenir Express {{ pub.PrecioDesc | number:0 }}</h3>
          <p class="descripcion-corta">{{ pub.DescripcionCorta }}</p><br>

          <button ion-button  icon-only (click)="cargarPublicacion({Id: pub.Id})" >
            <ion-icon name="eye"></ion-icon>
          </button>
          <button  ion-button icon-only color="energized" (click)="EditarPublicacion(pub, $index)">
            <ion-icon name="create"></ion-icon>
          </button>
          <button ion-button  icon-only color="danger" (click)="EliminarPublicacion(pub, $index)" >
            <ion-icon name="trash"></ion-icon>
          </button>

        </ion-card-content>
      </ion-card>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="cargarSiguientePagina($event)" *ngIf="moredata">
       <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>

