<ion-header>
  <ion-navbar color="balanced">
    <ion-title><ion-icon name="create"></ion-icon>&nbsp;&nbsp;Crear publicación</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="cerrarModal()">
        <ion-icon name="md-close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <h1 class="prevenir-title" text-center>Agrega algunas imagenes</h1>
    <h6 class="prevenir-subtitle" text-center>(Máximo 6)</h6>
    <div class="spacer" style="height: 20px;"></div>
    <!-- <ion-item text-center> -->
     <div text-center> 
      <button ion-button round (click)="SeleccionarImagenes()">
        <ion-icon name="cloud-upload"></ion-icon>Seleccionar imagenes
      </button>
      <div class="spacer" style="height: 20px;" *ngIf="imagenes.lenght"></div>
      <div class="row responsive-sm">
        <div class="col" *ngFor="let img of imagenes">
                 

            <button ion-button round color="danger" (click)="Remover(img.path)">
              <ion-icon name="trash"></ion-icon>Remover
            </button>

          <img [src]="img.RutaGrande | safeHtml" alt="Imagen">
        </div>
      </div>
     </div> 
    <!-- </ion-item> -->
  </ion-list>

  
  <h1 class="prevenir-title" text-center>¿Que servicio vas a ofrecer?</h1>
  

  <ion-list>
    <ion-item>
      <ion-label>Categoría</ion-label>
      <ion-select [(ngModel)]="subcategoria" [ngModelOptions]="{standalone: true}" (ngModelChange)="CargarVariedades()">
        <ion-option disabled value selected >Selecciona una</ion-option>
        <ion-option *ngFor="let cat of subcategorias" value="{{ cat.Id }}">{{ cat.Nombre }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
     <ion-select style="visibility: hidden;" [(ngModel)]="variedad">
            <ion-option *ngFor="let option of variedades" value="{{ option.Id }}">{{ option.Nombre }}</ion-option>

         </ion-select>
    </ion-item>
  </ion-list>




  
  <h1 class="prevenir-title" text-center>¿Donde vas a prestar tu servicio?</h1>
  

  
    <ion-list>
      <ion-item>
        <ion-label>Departamento</ion-label>
        <ion-select [(ngModel)]="departamentoId" [ngModelOptions]="{standalone: true}" (ngModelChange)="CargarMunicipios()">
          <ion-option disabled value selected >Selecciona uno</ion-option>
          <ion-option  *ngFor="let dep of Departamentos" value="{{ dep.Id }}" >{{ dep.Nombre }}</ion-option>
        </ion-select>
      </ion-item>



      <!--<ion-item>
        <button ion-button round (click)="EscogerCiudades()">
          <ion-icon name="add-circle"></ion-icon>&nbsp;Seleccionar ciudades
        </button>
      </ion-item>-->

      
      

      <ion-item>
        <ion-label>Municipios</ion-label>
        <ion-select [(ngModel)]="municipioId" multiple="true">
          <ion-option *ngFor="let mun of Municipios" [value]="mun.Id">{{ mun.Nombre }}</ion-option>
        </ion-select>
  
      </ion-item>
      
      <ion-item>
        <ion-label>Seleccionar todos</ion-label>
        <ion-checkbox [(ngModel)]="seleccionaTodosMunicipios" (ngModelChange)="SeleccionaTodosMunicipiosCheck()"></ion-checkbox>
      </ion-item>

    </ion-list>





    
    <h1 class="prevenir-title" text-center>Cuentanos mas de tu servicio</h1>
    

    <form>
    <ion-list>
      <ion-item>
        <ion-input type="text" placeholder="Nombre del servicio"[(ngModel)]="publicacion.Nombre" [ngModelOptions]="{standalone: true}">
        </ion-input>
      </ion-item>
          <h1 class="prevenir-subtitle" text-center>Escribe un porcentaje de descuento (sin el símbolo %). O define los precios de tu servicio.</h1>
      <ion-item>
        <ion-input type="number" placeholder="Porcentaje de descuento Ejemplo: 60"[(ngModel)]="publicacion.PorcentajePromo" [ngModelOptions]="{standalone: true}" maxlength="3">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="number" placeholder="Precio a particulares"[(ngModel)]="publicacion.Precio" [ngModelOptions]="{standalone: true}"   >

        </ion-input>
        

      </ion-item>
      <ion-item>
        <ion-input id="precio1" type="number" placeholder="Precio clientes Prevenir Express" [(ngModel)]="publicacion.PrecioDesc" [ngModelOptions]="{standalone: true}" >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input  type="text" placeholder="Descripción corta"  [(ngModel)]="publicacion.DescripcionCorta" [ngModelOptions]="{standalone: true}">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea rows="5" placeholder="Descripción larga" [(ngModel)]="publicacion.DescripcionLarga" [ngModelOptions]="{standalone: true}"></ion-textarea>
      </ion-item>  
      <ion-item>
        <div class="spacer" style="height: 20px;"></div>
        <img src="assets/img/logo-grande-negro.png" class="logo-prevenir">
        <div class="spacer" style="height: 20px;"></div>
      </ion-item>
      <ion-item>
        <ion-label>Acepto terminos y condiciones</ion-label>
        <ion-checkbox [(ngModel)]="terminos" [ngModelOptions]="{standalone: true}"></ion-checkbox>
      </ion-item>

        <!-- <button ion-button round full (click)="CargarPagina(1)" >
        <ion-icon name="arrow-dropleft-circle"></ion-icon>&nbsp;Volver
       </button> -->
        <button ion-button round full type="submit" (click)="GuardarPublicacion()" [disabled]="!terminos">
        <ion-icon name="archive"></ion-icon>&nbsp;Guardar
        </button>

    </ion-list>
    </form>

   
   
</ion-content>
