<!--
  Generated template for the CitasdisponiblesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="prevenir">
    <ion-title>Disponibilidad de citas</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-slides>
    <ion-slide *ngFor="let img of banners">
      <div class="box blue">
        <img [src]="img.Ruta" alt="Imagen">
      </div>
    </ion-slide>
  </ion-slides>
    <div class="spacer" style="height: 20px;"></div>
    <div><h2 class="prevenir-title" text-center>Horarios para reserva de citas</h2></div>
    <div class="spacer" style="height: 15px;"></div>
  <ion-list>
    <ion-item>
      <ion-label>Horarios disponibles</ion-label>
      <ion-select [(ngModel)]="cita" [ngModelOptions]="{standalone: true}" (ngModelChange)="CargarUnaCitasDisponibles()">
        <ion-option disabled value selected >Selecciona una</ion-option>
        <!--<ion-option *ngFor="let cat of lstCitasDis"  value="{{ cat.tipohora_id }}" >{{ cat.nombre }} - Precio: ${{ cat.precio }}</ion-option>-->
          <ion-option *ngFor="let cat of lstCitasDis"  value="{{ cat.tipohora_id }}" >{{ cat.nombre }}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-label>
      <ion-icon name="calendar"></ion-icon>
    </ion-label>
      <ion-input type="text" disabled="true" placeholder="Horario seleccionado" [(ngModel)]="nombre" [ngModelOptions]="{standalone: true}">
      </ion-input>
  </ion-item>
  <div class="spacer" style="height: 20px;"></div>
  <button ion-button round full  type="submit"  (click)="GuardarCitas()">
    <ion-icon name="archive"></ion-icon>
    &nbsp;&nbsp;Guardar cita
  </button>
</ion-content>
