<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Test</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <button ion-button block round icon-left color="primary" (click)="seleccionarImagenes()">
    <ion-icon name="photos"></ion-icon>
    Seleccionar Imagenes
  </button>
  <br>
  <button ion-button block round icon-left color="secondary" (click)="loginFB()">
    <ion-icon name="logo-facebook"></ion-icon>
    Login Facebook
  </button>
  <div>{{ fbResponse | json }}</div>
  <ion-card *ngIf="images.length > 0">
    <ion-card-header>Imagenes Seleccionadas</ion-card-header>
    <img *ngFor="let img of images" [src]="'data:image/png;base64,'+img" alt="Imagen">
  </ion-card>
</ion-content>
